.page-sign-up{
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
/* блок контент */
.signup-content{
  width: 100%;
  padding: 5% 8%;
  box-sizing: border-box;
}
.box-logo{
  margin-left: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.box-logo__icon{
  width: 30px;
  margin-right: 15px;
}
.box-logo__img{
  width: 100%;
}
.box-logo__text{
  font-size: 15px;
  color: #45236a;
  letter-spacing: -0.03em;
}
.signup__title{
  font-size: 31px;
  font-weight: normal;
  color: #45236a;
  margin-bottom: 40px;
}
/* оформление формы  */
.box-form-name{
  display: flex;
  justify-content: space-between;
}
.box-form-name .input-field{
  width: 45%;
}
.input-field{
  width: 100%;
}
.input-field__label{
  font-size: 13px;
  color: #73716e;
}
.input-field__item{
  border:none;
  border-bottom: 1.2px solid #6da5b3;
  width: 100%;
  padding: 3px 5px;
  box-sizing: border-box;
  height: 26px;
  margin: 20px 0;
}
.input-field__item:valid{
  border-bottom: 2px solid #16e264;
}
.invalid{
  border-bottom: 2px solid #e23f16;
}
.box-signup-btn{
  text-align: center;
}
.signup-btn{
  background: linear-gradient(#2f3776,#382e63 55%);
  opacity: 0.95;
  width: 180px;
  height: 55px;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 13px;
  margin-top: 15px;
  cursor: pointer;
}
.signup-btn:hover{
  opacity: 1;
}
/*   блок картинка */
.signup-image{
  position: absolute;
  width: 100%;
  top: 100vh;
  display: none;
}
.signup-image__item{
  width: 100%;
}
/*   блок галки */
.block-success{
  background: none;
  position: absolute;
  top: 30vh;
  left: 0;
  width: 100%;
  text-align: center;
  display: none;
  z-index: 2;
}
.box-success{
  background: none;
  margin: 0 auto;
}
.box-success__img{
  background: none;
  width: 30%;
  max-width: 200px;
}
.box-success__text{
  font-size: 24px;
  background: none;
  color: #41ad49;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.box-success__link-back{
  color: #122014;
  font-size: 18px;
  border: 2px solid #122014;
  opacity: 0;
  background: none;
  padding: 6px 14px;
}
.box-success__link-back:hover{
  color: #ffffff;
  font-size: 18px;
  background-color: #122014;
}

/*            анимация */
.sign-up-success-step1 .signup-content{
  animation: content-hide 3000ms;
  opacity: 0;
}
.sign-up-success-step1 .block-success{
  display: block;
  opacity: 1;
  animation: success 3000ms;
}
.sign-up-success-step1 .signup-image{
  animation: image-full 3000ms;
  display: block;
  top: 0;
}
.sign-up-success-step2 .signup-content{
  opacity: 0;
}
.sign-up-success-step1 .box-success__link-back{
  animation: back 3000ms;
  opacity: 1;
}
@keyframes content-hide {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  35% {
    opacity: 0;
    }
  100% {
    opacity: 0;
  }
}
@keyframes success {
  0% {
    opacity: 0;
    }
  15% {
    opacity: 0;
    }
  20% {
    display: 1;
  }
}
@keyframes image-full {
  0% {
    top:100vh;
  }
  50% {
    top:100vh;
  }
  60% {
    top:0vh;
  }
  65% {
    top:5vh;
  }
  70% {
    top:0vh;
  }
  73% {
    top:3vh;
  }
  75% {
    top:0vh;
  }
  76% {
    top:1vh;
  }
  77% {
    top:0vh;
  }
  100% {
    top:0vh;
  }
}
@keyframes back {
  0% {
    opacity: 0;
    }
  80% {
    opacity: 0;
    }
  90% {
    display: 1;
  }
}

@media screen and (max-width: 450px){
  .signup-image{
    align-items: center;
    text-align: center;
  }
  .signup-image__item{
    width: 150%;
    margin-left: -25%;
  }
}
